! GENERATED
! special colors
*.foreground:  #93a1a1
*.background:  #002b36
*.cursorColor:  #93a1a1
! black
*.color0:      #002b36
*.color8:      #657b83
! red
*.color1:      #dc322f
*.color9:      #dc322f
! green
*.color2:      #859900
*.color10:     #859900
! yellow
*.color3:      #b58900
*.color11:     #b58900
! blue
*.color4:      #268bd2
*.color12:     #268bd2
! magenta
*.color5:      #6c71c4
*.color13:     #6c71c4
! cyan
*.color6:      #2aa198
*.color14:     #2aa198
! white
*.color7:      #93a1a1
*.color15:     #fdf6e3

URxvt*scrollBar:         false
URxvt*scrollBar_right:   false

URxvt*transparent:       false

URxvt.font: xft:Roboto:pixelsize=16
URxvt.letterSpace: 0

*antialias:  true
*autohint:   true



! PERSONAL
! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! disable the scrollback buffer for the secondary screen (eg. less without the -X option)
! makes it so that we scroll the pager itself and not the terminal it uses
! mousewheel still causes the terminal to scroll, so avoid using that
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! disable printing the terminal contents when pressing PrintScreen.
URxvt.print-pipe: "cat > /dev/null"

! bind copy and paste to normal term keys
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V: eval:paste_clipboard

! make urls openable using C-o
URxvt.perl-ext: default,url-select
URxvt.keysym.C-o: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! have tabs 
!URxvt.perl-ext-common: ...,tabbed,...
!URxvt.tabbed.tabbar-fg: 1
!URxvt.tabbed.tabbar-bg: 0
!URxvt.tabbed.tab-fg: 2
!URxvt.tabbed.tab-bg: 0

